*{
    margin:0;
    padding-left: 0;
    box-sizing: border-box;
}
body{
    width: 80vw;
    height:100vh;
    margin:auto;
}
p{
    font-size:calc(3px + 0.5vw);
}
p,a,h1,li,th,tr{
    font-family: "Arial Black", sans-serif;
    text-decoration: none;
}
h1{
    font-size:calc(10px + 2vw);
    text-decoration: none;
}
#page-wrapper{
    height:95%;
}
#container{
    width:100%;
    height:90%;
    display: flex;
    flex-direction: row;
}
header, footer{
    font-size:calc(2px + 2vw);
}
header{
    height:10%;
    text-align: left;
}
header p,header h1{
    margin-left:2%;
}
footer{
    height:5%;
    text-align:center;
}
footer p, main p{
    font-size:calc(2px + 2vw);
}
nav{
    width:30%;
    height:100%;
    text-align: center;
    display:flex;
}
nav ul{
    width:70%;
    padding:1%;
    margin:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
nav ul li{
    display:inline;
    padding: 0.5%;
    text-decoration: none;
    font-size:calc(2px + 2vw);
    margin: 2vw 0;
}
main{
    width:70%;
    text-align: center;
    margin:auto;
}
main p{
    margin-bottom:0.3%;

    padding:0.2%;
    margin-top:3%;
    font-size:calc(2px + 2vw);
}
table{
    margin:auto;
}

/* ---------------------------------------------------------------------------------------------------------------------color */
#page-wrapper{
    background-color:#FFF2DB;
}
a{
    color: aliceblue;
}
header, footer{
    color:white;
    background-color:green;
}
nav{
    background-color: lightyellow;
}
nav ul li{
    color:white;
    background-color:#00879E;
}
main p{
    background-color:yellowgreen;
}
/* ---------------------------------------------------------------------------------------------------------------------media screen */
@media screen and (max-width:750px){
    #container{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
    main{
        width:100%;
        margin:auto;
    }
    nav{
        height:20%;
        width:100%;
    }
    nav ul{
        width:100%;
        margin:auto;
        text-align: center;
        display:flex;
        flex-direction:row;
    }
    nav ul li{
        padding:3%;
        justify-content: space-evenly;
    }
}